{% extends "rg_frame.html" %}
{% block sideblurb %}
<ul style="list-style-type: none; color: #000; font-size: 1.1em;">
<!--<li><img src='/site_media/images/icons/blue_edit.png'> Resume</li>
<li><img src='/site_media/images/icons/email_24x24.png'> Contact</li>
-->
<li>Web Development</li><li>Server Administration</li><li>Flash/HTML5 Game Development</li>
</ul>
{% endblock %}
{% block oldblurb %}
<b>Greetings!</b><br> I am a freelance web developer and Linux admin. I have a range of experience and am currently looking to connect with new clients or employers</p>
{% endblock %}

{% block includes %}
<style>
div.shadow_box {

	left: 3px;
	top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	background-color: #ccc;
}
p.greets {
	/*font-family: 'Palatino Linotype',Palatino; */
	font-size: 1.1em; text-align: left; width: 450px; margin: auto;
}
</style>
{% endblock %}

{% block content %}
<div id='dvFish_Bar' style='top: -20px;'></div>
<img src='/site_media/images/icons/stepfinal2.png' style='position: relative;  left: 50px;'>
<ul class='menu_plain' style='margin-left: 5px; list-style-type: none; display: none;'>
<li style='margin-right: 15px; margin-bottom: 4px;'>Full Website Creation</li>
<li style='margin-bottom: 4px;'>Interactive and Dynamic UI's</li>
<li style='margin-right: 15px; margin-bottom: 4px;'>Online Multiplayer Gaming</li>
<li style='margin-bottom: 4px;'>Flash Apps and Games</li>
<li style='margin-right: 15px; margin-bottom: 5px;'>Custom Content Management</li>
<li>Integration with popular sites</li>
</ul>
<p class='greets'>
	Welcome, I'm Ryan.<br> 
	I'm an independent programmer focusing on web and game development with a variety of languages and frameworks. This is my personal website displaying a number of projects of my own or that I've worked on.<br> I'm currently looking for work so if you have a contract or jop opening, feel free to check out my site and 
	<a href="/contact"><i>drop me a line   </i><img src='/site_media/images/icons/email_24x24.png'></a>
<!--<img src='/site_media/images/bg_graybar.png' width=400px style='margin-left: 5px;'>-->



<div class='buzzbox' id='DV_BUZZBOX'>
               
</div>

</ul> 
 
</p>
{% endblock %}