{% extends "rg_frame.html" %}
{% block sideblurb %}
<ul style="list-style-type: none; color: #000; font-size: 1.1em;">

<li>Web Development</li><li>Server Administration</li><li>Flash/HTML5 Game Development</li>
</ul>
{% endblock %}

{% block HeaderTitle %}resume for Ryan Guthrie.com {% endblock %}

{% block includes %}
<style>
div.content { text-align: left; }
</style>
{% endblock %}


{% block content %}

<div class="content">
<blockquote>Ryan Guthrie<br>
<i>ryan@ryanguthrie.com</i><br>
<i>1 (541) 357-7487</i><br>
Download: <a href='/site_media/ResumeforRyanGuthrie.doc'>word</a> | <a href='/site_media/ResumeforRyanGuthrie.pdf'>pdf</a><br>
<h3>Relevant Experience</h3><hr><br>
<blockquote style='font-size: 0.8em;'>
Possesses over seven years experience in the different aspects of programming, web development and system
administration. <br>During that time I have developed scripts and applications using a number of different languages,
including C++, Python, Perl, PHP and C# for both web-based and desktop systems. <br>I have developed several 2D and 3D games as well as UI tools in Flash and HTML5/jQuery as well.<br>Experience as a Linux System
Administrator has given an especially strong understanding of web servers, LAMP environments and the underlying
networking systems.
</blockquote>
<br>
<h3>Technical Skills</h3><hr><br>
<div style='width: 360px; height: 60px; position: relative; font-size: 0.7em; margin: 0;'>
<ul style='list-style-type: none;'>
	<li style='width: 120px; float: left; overflow: hidden;'>HTML/CSS</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Javascript/jQuery</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Flash/Flex</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Linux Admin</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Apache 1.x + 2.x</li>
	<li style='width: 120px; float: left; overflow: hidden;'>MySQL,Oracle,SQLite,AppEngine</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Perl/PHP/Python
	</li>
	<li style='width: 120px; float: left; overflow: hidden;'>C++,C#,Java</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Networking</li>
	<li style='width: 120px; float: left; overflow: hidden;'>Photoshop</li>
</ul>
</div>
<br>
<h3>Experience Highlights</h3><hr><br>

Freelance Developer (2006-Present)<br>
<i>RyanGuthrie.com</i>
	<blockquote style='font-size: 0.8em;'><ul>
	<li>Developed a variety of applications and scripts, often from planning to deployment</li>
	<li>Heavy focus on web interfaces and technologies, using MySQL + PHP/Perl + Javascript with YUI, Prototype or jQuery</li>
	<li>Frequent development with Flash with game libraries like Flixel,FlashPunk and Away3D engine</li>
	<li>Example projects include: social network for local communities, call center tracking software, Flash real estate developers app for web/iPhone/iPad, Javascript data visualizations, phpbb mod with a custom chatroom, image gallery + photo manipulation, automatic forum backups, 
		rss news scrapers, web spider with custom header spoofing and http authentication, graphing and report tools integrated 
		with wordpress
	</li></ul></blockquote>
<br><br>
Programmer (April 2008-March 2009)<br>
<i>New World Brands Inc. - http://nwbnetworks.com</i>
<br>
<blockquote style='font-size: 0.8em;'>
	<ul>
	<li>Developed internal tools and monitoring software for an international VoIP network, often responsible for full development lifecycle</li>
	<li>Responsible for documentation and instruction on using custom tools</li>
	<li>Example projects include: Automated phone recharging system, web framework including flexible role based authentication, 
	seperate client logins, jViz based network monitoring interface, several reporting tools including email and excel integration, 
	company wide cost/revenue tracking
	</li>
	</ul>

</blockquote>
<br><br>
Linux System Administrator (October 2005 - February 2008)<br>
<i>TouchSupport LLC - http://www.touchsupport.com</i>
<br>
<blockquote style='font-size: 0.8em;'>Provided top level admin services for a large number of Linux based webservers. 
Responsible for all aspects including security hardening, system upgrades and performance tuning. 
On-site management of first and second level helpdesk technicians. Top level contact during night shifts for clients. </blockquote> 
<br><br>


{% endblock %}