<script type="text/javascript" src="https://raw.github.com/mrdoob/three.js/r44/build/Three.js"></script>
		<script type="text/javascript" src="https://raw.github.com/mrdoob/three.js/r44/examples/js/RequestAnimationFrame.js"></script>
		<script type="text/javascript" src="https://raw.github.com/mrdoob/three.js/r44/examples/js/Detector.js"></script>
		<script type="text/javascript" src="https://raw.github.com/mrdoob/three.js/r44/examples/js/Stats.js"></script>
<script type="text/javascript" src="/site_media/js/spiralGL.js"></script>

{% extends "rg_frame.html" %}
{% block sideblurb %}
<ul style="list-style-type: none; color: #000; font-size: 1.1em;">

<li>Web Development</li><li>Server Administration</li><li>Flash/HTML5 Game Development</li>
</ul>
{% endblock %}

{% block HeaderTitle %}portfolio @ Ryan Guthrie.com {% endblock %}

{% block includes %}

<script src="/site_media/js/ui.core.js" type="text/javascript"></script>
<script src="/site_media/js/ui.tabs.js" type="text/javascript"></script>
<link rel="stylesheet" href="/site_media/css/ui.tabs.css" type="text/css" />
<script src="/site_media/js/jquery.lightbox-0.5.pack.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/site_media/css/jquery.lightbox-0.5.css" media="screen" type="text/css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.slider.css" media="all">
<script type="text/javascript" src="/site_media/js/jquery.slider.min.js"></script>
<script type="text/javascript">

	var projects = {% autoescape off %}{{ projectJSON }}{% endautoescape %};
	var selectedProject = 'none';
	var portfolioSpiral;
	
	$(document).ready( function(){

			//spiralGL('dvSpiral', projects);
			$('#slider').slider({'autoplay':false});
			$('.project_box').hide();
			$('.project_title').click( function(){
				console.log("project title clicked"); console.log(this);
				$(this).parent().find('.project_box').slideToggle('normal');
			});
			$('.slide img').click(function(obj){
				var imgObj = obj.target;
				console.log(imgObj); console.log(imgObj.alt);
				if(projects[imgObj.alt]['description']){
					$('#projectContent').html(projects[imgObj.alt]['description']);
					$('a.lightbox').lightBox(); 
				}
				else if(projects[imgObj.alt]['title']){
					$('#projectContent').html('<h2>'+projects[imgObj.alt]['title']+'</h2>');
				}
				else { 
					console.log("didn't find project "+imgObj.alt);
					return; }
				$("#projectContainer").show();
				$("#projectBox").css('opacity','0');
				$( "#projectBox" ).css('marginTop',0 - $( "#projectBox" ).height() ) ;
				$( "#projectBox" ).animate({
					  marginTop: '140px',opacity: 1, 
					}, "fast", function() {
						//oncomplete
					} );
			});

			$('#projOverlay').click(function(){
				$("#projectContainer").hide();
			});

			hParams = getHashParams();
			if(Object.keys(hParams).length > 0){
				for(hp in hParams){
					if(projects[hp]){
						displayProject(hp);
						break;
					}	
				}
			}

	});

function fullScreenSpiral(){

}

function displayProject(projID){
				if(!projects[projID]) return;
				if(projects[projID]['description']){
					$('#projectContent').html(projects[projID]['description']);
					$('a.lightbox').lightBox(); 
				}
				else if(projects[projID]['title']){
					$('#projectContent').html('<h2>'+projects[projID]['title']+'</h2>');
				}
				else { 
					console.log("didn't find project "+projID);
					return; }
				$("#projectContainer").show();
				$("#projectBox").css('opacity','0');
				$( "#projectBox" ).css('marginTop',0 - $( "#projectBox" ).height() ) ;
				$( "#projectBox" ).animate({
					  marginTop: '140px',opacity: 1, 
					}, "fast", function() {
						//oncomplete
					} );
}

function getHashParams() {
    var hashParams = {};
    var e,
        a = /\+/g,  // Regex for replacing addition symbol with a space
        r = /([^&;=]+)=?([^&;]*)/g,
        d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
        q = window.location.hash.substring(1);

    while (e = r.exec(q))
       hashParams[d(e[1])] = d(e[2]);
    return hashParams;
}		


function startSpiral(){
	$('#dvLoadSpiral').slideUp();
	$('#dvSpiral').toggle();
	portfolioSpiral = spiralGL('dvSpiral', projects);
	
}
			
</script>
<style type="text/css">
	#jquery-lightbox { z-index: 450; }
	#jquery-overlay { z-index: 400; }
	#slider { max-height: 450px; }
	#projectBox {
		position: relative;
		width: 700px;
		min-height: 200px;
		margin: 120px auto;
		z-index: 999;
		background-color: #ffffff;
		border: 2px outset  #004466;
		clear: both;
		/* cross browser opacity 
		-khtml-opacity:1; -moz-opacity:1; -ms-filter:”alpha(opacity=100)”; filter:alpha(opacity=100); opacity:1; 
		*/
	}
	#projectContainer {
		position: fixed;
		top: 0; left: 0;
		z-index: 700;
		display: none;
		width: 100%;
		height: 100%;
		min-height: 800px;
		clear: both;
		
	}
	#projOverlay {
		/* cross browser opacity */
		clear: both;
		position: absolute;
		z-index: 700;
		width: 100%;
		height: 100%; top: 0; left: 0;
		background-color: #000000;
		-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50; 
	}
	div.slideItem {
		padding-left: 15px;
		float: left;
		height: 120px;
		max-width: 146px;
		overflow: hidden;
	}
	div.slideItem img{
		height: 80px;
		width: 146px;
	}
	div.projectClose {
		float: right;
		top: -15px;
		right: -15px;
		z-index: 2000;
	}
	#projectContent {
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	#projectContent img{
		float: left;
		margin-right: 10px;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
	#dvLoadSpiral {
		margin: auto;
		text-align: center;
		width: 400px;
		background: #101010;
		color: white;
		border: 2px inset gray;
		min-height: 30px;
		cursor:pointer;
		margin-bottom: 25px;
	}
</style>

{% endblock %}

{% block content %}
<div id='dvLoadSpiral' onClick='startSpiral();'>Start 3D Portfolio Visualization<br><i>*Requires a <a href='http://www.google.com/chrome'>WebGL Compatible Browser</a></i></div>
<div id='dvSpiral' style='display: none; background: #2A2626; border: 2px solid black; width: 500px; min-height: 300px;'>
 <div style='float: left; color: white;'><a href='http://github.com/Mocker/RyanGuthrie.com/blob/master/django/ryang/static/js/spiralGL.js'>
 	View Source</a></div>
</div>
<h1>Portfolio & Projects</h1>
<p>Here are a samping of websites, games and other projects I have developed. If you have any questions regarding them feel free to send me a message.</p>
<div id="slider">

    {% for s in projectDB %}
    
    	<div class="slide">
    		<h2>{{ s.title }}</h2>
    		{% for p in s.projects %}
    		<div class='slideItem' >
    			<a name='{{ p.strID }}'>
	    		<!--<a href='{{ p.thumbSrc }}' class='lightbox'>-->
	    			<img src="{{ p.thumbSrc }}" alt="{{ p.strID }}">
	    		</a>
	    		
	    		<div class='caption'>
	    			{{ p.title }}
	    		</div>
    		</div>
    		{% endfor %}
    		<div style='clear: both;'></div>
    	</div>
    {% endfor %}

 	
</div>

<div id='projectContainer'>
<div id="projOverlay"></div>
	
<div id='projectBox' >
	<div class='projectClose'><input type='button' value='x' onClick='$("#projectContainer").hide();'></div>
	<div id='projectContent'></div>
</div>
</div>


<script type="text/javascript">
	$(function() {
		$('a.lightbox').lightBox(); 
	});
</script>	



{% endblock %}